%h2 出席者
- @attendances_user.each do |user|
  %p= user.name
-# - @attendances.each do |attendance|
-#   %p= "#{attendance.status}: #{attendance.user.name} #{attendance.record_time.strftime('%Y/%m/%d %H:%M:%S')}"
